resources:
  jobs:
    {{.project_name}}_job:
      name: {{.project_name}}_job
      tasks:
        - task_key: generate_data
          spark_python_task:
            python_file: ./src/project_name/main.py 