bundle:
  name: {{.project_name}}

targets:
  dev:
    default: true
    workspace:
      host: {{.workspace_host}}
    resources:
      jobs:
        {{.project_name}}_job:
          name: {{.project_name}}_job
          tasks:
            - task_key: generate_data
              spark_python_task:
                                   python_file: ./src/{{.project_name}}/main.py
              environment_key: default
          environments:
            - environment_key: default
              spec:
                client: '1'
                dependencies: []
      apps:
        {{.project_name}}_app:
          name: {{.project_name}}-dashboard
          description: "{{.project_name}} Analytics Dashboard"
          source_code_path: ./src/app
 