resources:
  apps:
    {{.project_name}}_app:
      name: {{.project_name}}_app
      type: web
      source: ./src/app
      build_commands:
        - npm install
        - npm run build
      run_commands:
        - npm start
      environment_variables:
        NODE_ENV: production
        PORT: 3000
      custom_tags:
        project: "{{.project_name}}"
        environment: "dev" 